.about {
    width: 100%;
    margin: 3rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: auto; /* Change height to auto to allow content to expand */
}

.about .left {
    text-align: justify;
    margin: auto;
    padding: 1rem;
    max-width: 450px;
    flex: 1; /* Allow the left section to grow */
}

.about .left p {
    margin: 1.2rem 0;
}

.about .right {
    max-width: 700px;
    flex: 1; /* Allow the right section to grow */
}

.right .img-container {
    max-width: 100%;
    display: flex; /* Use flexbox to place image and text side by side */
    align-items: center;
    text-align: center;
}

.right .img-container img {
    max-width: 100%; /* Set the image to a maximum width */
    height: auto;
}

.left .btn {
    background-color: rgba(215,187,148,255);
}

.left .btn:hover {
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    transition: 0.3s;
}

@media screen and (max-width: 640px) {
    .about .right {
        max-width: 100%; /* Allow the right section to take up full width on smaller screens */
    }
}
